h3 {
  font-size: 25px;
  font-family: var(--font-title);
  font-weight: bold;
  color: var(--primary-color);
  margin: 20px 0;
}
/* Thể loại sách */
nav {
  display: flex;
  justify-content: center;
}
.nav {
  z-index: 999;
  margin-bottom: 36px;
  color: var(--content-color);
  font-family: var(--font-title);
  width: 70%;
  font-weight: bold;
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px 15px;
  justify-items: center;
}
.nav li {
  cursor: pointer;
}
.nav__item {
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.nav__item:hover {
  color: var(--primary-color);
}

.nav__item--active {
  color: var(--primary-color);
  position: relative;
  transition: all 200ms ease-in-out;
  font-size: 18px;
}
.nav__item--active::before {
  display: inline;
  content: "\2022";
  position: absolute;
  top: 90%;
  left: 50%;
  transition: transform 300ms ease-in-out;
}

/* Banner */
.banner {
  margin: 20px 0;
  width: 100%;
}
.banner img {
  width: 100%;
}

/* Sách bán chạy */
.popular-book {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.popular-book__item {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  grid-gap: 20px;
  padding: 20px 30px;
  border-radius: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.19);
  transition: all 300ms ease-in;
}
.popular-book__item:hover {
  box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.19);
  transition: all 300ms ease-in;
}
.popular-book__item__image {
  width: 210px;
  height: 325px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.19);
}
.popular-book__item__button {
  grid-column: 1 / span 2;
  display: grid;
  justify-content: center;
}
.popular-book__item__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.popular-book__item__info > *:not(:last-child) {
  margin-bottom: 10px;
}
.popular-book__item__info__title {
  text-align: center;
  font-family: var(--font-title);
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.popular-book__item__info__price {
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-color);
  text-align: center;
}
.popular-book__item__info__content {
  font-family: var(--font-content);
  line-height: 22px;
  overflow: hidden;
  text-align: justify;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 9; /* number of lines to show */
  -webkit-box-orient: vertical;
}

/* Sách theo thể loại */
.category-book__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category-book__title__more {
  color: var(--primary-color);
  font-family: var(--font-content);
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
}
.category-book {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px 10px;
}
.category-book__item {
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  border-radius: 25px;
  transition: all 300ms ease-out;
  padding: 15px;

  position: relative;
}
.category-book__item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.226);
  transition: all 300ms ease-in;
  z-index: 999;
}
/*
.category-book__item__button {
  display: none;
  width: 100%;
  transition: all 300ms ease-out;
  transform: translateY(10%);
}
.category-book__item__button button {
  border-radius: 0 0 15px 15px;
  padding: 10px 20px;
  width: 100%;
  font-size: 14px;
} */
.category-book__item:hover > .category-book__item__button {
  opacity: 1;
  transition: all 300ms ease-in;
  transform: translateY(0%);
  position: absolute;
  display: block;
  top: 100%;
}
.category-book__item > :not(:last-child) {
  margin-bottom: 10px;
}
.category-book__item__image {
  border-radius: 20px;
  width: 100%;
  height: 260px;
  object-fit: cover;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.075);
}
.category-book__item__title {
  cursor: pointer;
  color: var(--content-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.category-book__item__price {
  font-size: 16px;
  font-weight: bold;
  color: var(--primary-color);
  text-align: center;
}
.category-book__view-more {
  margin: 40px 0;
  display: flex;
  justify-content: center;
}
.category-book__view-more button {
  padding: 5px 20px;
  font-size: 14px;
}

/* responsive  */
@media (max-width: 768px) {
  h3 {
    font-size: 20px;
    margin: 10px;
  }
  .nav {
    margin-top: 20px;
    width: 100%;
    transition: all 500ms ease-in-out;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .nav__item {
    text-align: center;
    transition: all 100ms ease-in-out;
  }
  .nav__item--active {
    margin-bottom: 5px;
    transition: all 100ms ease-in-out;
  }
  .nav--active {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    transition: all 500ms ease-in-out;
  }
  .popular-book {
    padding: 15px;
    grid-gap: 10px;
    overflow-x: auto;
  }
  .popular-book__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-right: 20px;
  }
  .popular-book__item__info__title {
    font-size: 16px;
  }
  .popular-book__item__info__title {
    font-size: 15px;
  }
  .popular-book__item__image {
    width: 150px;
    height: 250px;
  }
  .popular-book__item__button .btn {
    font-size: 14px;
  }
  .popular-book__item__info__content {
    -webkit-line-clamp: 6; /* number of lines to show */
    font-size: 14px;
  }
  .category-book {
    grid-template-columns: 1fr 1fr;
  }
  .category-book__item__image {
    height: 230px;
  }
}
